.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0px;
    align-content: center;
    position: relative;
    text-align: center;
    margin: 10px;
}

.logo svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 25px;
    height: 25px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout {
    height: 100vh;
}
